<!-- src/app/components/perfil/perfil.component.html -->
<div class="container-fluid">
    <div class="row">
        <!-- Menú en la parte izquierda -->
        <div class="col-md-2 col-lg-2 bg-light sidebar">
            <app-menu></app-menu> <!-- Selector del componente de menú -->
        </div>
    
        <!-- Contenido principal en la parte derecha -->
        <div class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Perfil del Veterinario</h1>
            </div>
            <div *ngIf="veterinario; else loading">
                <h2>{{ veterinario.Nombre }}</h2>
                <div>
                    <p>ID: {{ veterinario.VeterinarioID }}</p>
                    <p>Usuario: {{ veterinario.Usuario }}</p>
                    <p>Especialidad: {{ veterinario.Especialidad }}</p>
                    <p>Teléfono: {{ veterinario.Telefono }}</p>
                    <p>Correo Electrónico: {{ veterinario.CorreoElectronico }}</p>
                </div>
            </div>
            <ng-template #loading>
                <p>Cargando datos...</p>
            </ng-template>
        </div>
    </div>
</div>
