<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <div class="text-center">
              <img src="assets/login/logo.png" alt="logo" class="img-fluid mb-4" />
              <h4 class="mb-3 f-w-400">Iniciar Sesión </h4>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                <input type="text" class="form-control" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1" id="usuario" formControlName="usuario"/>
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text" id="basic-addon3"><i class="fa-solid fa-user"></i></span>
                <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon3" id="contrasena" formControlName="contrasena"/>
              </div>
              <!-- <div class="form-group text-start mt-2">
                <div class="checkbox checkbox-primary d-inline">
                  <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="" />
                  <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
                </div>
              </div> -->
              <div class="d-grid">
                <button class="btn btn-block btn-outline-primary mb-4">Iniciar Sesión</button>
              </div>
              <p class="mb-2 text-muted">Olvidaste tu contraseña? <a href="javascriprt:" class="f-w-400">Reiniciar</a></p>
              

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
