<div class="row">
  <!-- Menú en la parte izquierda -->
  <div class="col-md-2 col-lg-2 bg-light sidebar">
    <app-menu></app-menu> <!-- Selector del componente de menú -->
  </div>

  <div class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
    
      <div class="input-group mb-5 mt-5 custom-input-group">
        <h1 class="mb-0 me-3 align-self-center">Propietarios</h1>
        <input type="text" class="form-control" placeholder="Búsqueda por nombre">
        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
      </div>
      
  
    <div class="card">
      
      <div class="table-responsive">
        <table class="table-hover">
          <thead>
            <tr>
              <th>ID<i class="fa-solid fa-paw"></i></th>
              <th>Nombre<i class="fa-solid fa-paw"></i></th>
              <th>Dirección<i class="fa-solid fa-paw"></i></th>
              <th>Teléfono<i class="fa-solid fa-paw"></i></th>
              <th>Correo Electrónico<i class="fa-solid fa-paw"></i></th>
              <th>Acciones<i class="fa-solid fa-paw"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let propietario of propietarios">
              <td>{{ propietario.PropietarioID }}</td>
              <td>{{ propietario.Nombre }}</td>
              <td>{{ propietario.Direccion }}</td>
              <td>{{ propietario.Telefono }}</td>
              <td>{{ propietario.CorreoElectronico }}</td>
              <td>
                <button class="btn btn-primary btn-sm" (click)="onEdit(propietario)"><i class="fa-solid fa-pen-to-square"></i>Editar</button>
                <button class="btn btn-danger btn-sm" (click)="onDelete(propietario.PropietarioID)"><i class="fa-solid fa-trash"></i>Eliminar</button>
              </td>
            </tr>
            <!-- Fila de ejemplo -->
            <tr>
              <td>1</td>
              <td>2</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>
                <button class="btn btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-sm"><i class="fa-solid fa-trash"></i></button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>
                <button class="btn btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-sm"><i class="fa-solid fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <app-paginacion
        [totalItems]="totalPropietarios ? totalPropietarios : 0"
        [itemsPerPage]="resultadosPorPagina"
        [currentPage]="paginaActual"
         (pageChange)="changePage($event)">
      </app-paginacion>

  </div>
</div>
